<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles/paramedic.css" rel="stylesheet">
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <div class="row" style="margin: 30px 20px">
        <div class="well col-xs-12">
            <blockquote>
                <p>
                     Eplerenone (Inspra) and spironolactone (Aldactone) are part of a class of medicine called diuretics. They can ease the swelling and water buildup heart disease can cause. They help the kidneys send unneeded water and salt from your tissues and blood into your urine to be released.

These drugs may help some symptoms, even while you take other treatments. They protect your heart by blocking a chemical in your body called aldosterone that causes salt and fluid buildup.

This medicine is for folks with some types of severe heart failure.
                </p>
            </blockquote>
        </div>
    </div>
</div>
<script src="/static/bower_components/jquery/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>